modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Start Dev"

[[workflows.workflow]]
name = "Start Dev"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && npm run dev -- -p 3000"

[[workflows.workflow]]
name = "Build & Deploy"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && npm run build && npm run start -- -p 3000"

[env]
PORT = "3000"
